@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animated-text {
  animation: slideInFromLeft 2s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated-button {
  animation: fadeIn 1s ease-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.DiseATuFuturoProfesionalYPersigueTusSueOsProfesionales {
  max-width: 100%;
  height: auto;
  text-align: center;
  color: black;
  font-size: 36px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  word-wrap: break-word;
  margin: 0 auto;
}

.Group12 {
  max-width: 100%;
  height: 72.26px;
  position: relative;
  border-radius: 36px;
  overflow: hidden;
  transition: transform 0.3s ease;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Group12:hover {
  transform: scale(1.05);
}

.Vector {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: #286C63;
  border-radius: 36px;
}

.IniciaTuViajeAqu {
  color: white;
  font-size: 28px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  word-wrap: break-word;
  text-align: center;
  z-index: 1;
  text-decoration: none;
}

.IniciaTuViajeAqu a {
  text-decoration: none;
  color: inherit;
}

.DescubreInspRateEnfCate {
  width: 100%;
  color: #286C63;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
  margin: 0 auto;
}

.Image3 {
  width: auto;
  height: 100vh;
  object-fit: cover;
  margin: 0;
  margin-top: 56px;
  margin-left: 100px;
}

.center-container {
  text-align: center;
  padding: 0 20px;
}

.page-header {
  height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-right: 100px;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.Group12 a {
  text-decoration: none;
  color: inherit;
}

.Group12 a:hover {
  text-decoration: none;
}