  {% extends "blog/base.html" %}

  {% block title %}Home{% endblock %}

  {% block content %}

  <style>
    .main-content, .sidebar {
      padding: 20px;
    }
    .main-content {
      width: 75%;
      margin: 80px auto 0 50px;
    }
    .sidebar {
      width: 25%;
      position: fixed;
      right: 0;
      top: 80px;
      padding: 20px;
    }
    .card {
      border: 3px solid #286C63;
      border-width: 12px 3px;
      border-radius: 25px;
      margin-bottom: 20px;
      padding: 30px;
      overflow: hidden;
      width: 100%;
      max-width: 1200px;
      min-width: 300px;
      position: relative;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .card h3 {
      color: black;
      font-size: 2em;
    }
    .card p {
      font-size: 1em;
      margin-top: 10px;
      margin-bottom: 10px;
      position: relative;
      text-align: justify;
    }
    .card .fade-text {
      max-height: 200px;
      overflow: hidden;
      position: relative;
    }
    .card .fade-text::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    }
    .small-card {
      max-width: 300px;
      min-width: 200px;
      height: 300px;
      margin-top: 0;
      margin-left: 0;
    }
    .media {
      display: flex;
      align-items: center;
    }
    .media img {
      border-radius: 50%;
      margin-right: 15px;
      width: 100px;
      height: 100px;
    }
    .username-link {
      color: black;
      font-size: 1.5em;
      font-weight: bold;
    }
    .text-muted {
      font-weight: bold;
      color: #d3d3d3;
      font-size: 0.9em;
    }
    .post-title {
      color: black;
      text-align: center;
    }
    .post-title a {
      color: black;
      font-weight: bold;
      text-decoration: none;
    }
    .post-title a:hover {
      text-decoration: none;
    }
    .card hr {
      border: 0;
      border-top: 3px solid #286C63;
      margin: 20px 0;
      width: 100%;
    }
    .read-more-container {
      margin-bottom: 0;
    }
    .read-more-link {
      color: #286C63;
      font-weight: bold;
      text-decoration: none;
    }
    .read-more-link:hover {
      text-decoration: none;
    }
    .separator {
      border: 0;
      border-top: 2px solid #ddd;
      margin: 20px 0;
    }
    .follow-text {
      color: #286C63;
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .follow-link {
      color: black;
      text-decoration: none;
      font-weight: bold;
    }
    .follow-link:hover {
      text-decoration: none;
    }
    .list-group-item {
      border: none;
      padding: 5px 0;
      border-bottom: 1px solid #ddd;
      display: flex;
      align-items: center;
    }
    .list-group-item img {
      border-radius: 50%;
      margin-right: 10px;
      width: 40px;
      height: 40px;
    }
    .list-group-item div {
      flex-grow: 1;
    }
    .add-icon-blog {
      font-size: 2.5em;
      color: #286C63;
      font-weight: bold;
      text-decoration: none;
      transition: transform 0.3s ease;
      position: absolute;
      right: 60px;
    }
    .add-icon-blog::before {
      content: '\2713';
    }
    .add-icon-blog:hover {
      transform: scale(1.2);
      text-decoration: none;
    }
    .add-icon-follow {
      font-size: 1.5em;
      color: #286C63;
      font-weight: bold;
      text-decoration: none;
      transition: transform 0.3s ease;
    }
    .add-icon-follow:hover {
      transform: scale(1.2);
      text-decoration: none;
    }
    .follow-card {
      border: 3px solid #286C63;
      border-width: 12px 3px;
      border-radius: 25px;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .follow-card hr {
      border: 0;
      border-top: 2px solid #286C63;
      margin: 10px 0;
    }
    @media (max-width: 768px) {
      .main-content, .sidebar {
        width: 100%;
        padding: 10px;
        margin-left: 0;
      }
      .sidebar {
        position: static;
        margin-top: 20px;
      }
      .small-card {
        display: none;
      }
      .small-card {
        margin-left: 0;
        align-self: center;
      }
    }
    .separator-line {
      border: 0;
      border-top: 2px solid #ddd;
      margin: 20px 0;
    }
  </style>

  <div class="main-content">

    {% for post in posts %}

    <article class="card">
      <div class="media">
        <div>
          <img src="{{post.author.profile.image.url}}" alt="image" width="100" height="100">
        </div>
        <div>
          <a href="{% url 'profile-detail-view' post.author.pk %}" class="username-link">{{ post.author }}</a>
          <br>
          <small class="text-muted">{{ post.date_posted|date:"F d, Y-h:i A" }}</small>
        </div>
        <span class="add-icon-blog"></span>
      </div>
      {% if post.author in added_users %}
      <div class="UserPlus"></div>
        <div class="Icon"></div>
      </div>
      {% else %}
      <div class="UserCheck">
        <div class="Icon"></div>
      </div>
      {% endif %}
      <hr>
      <h3 class="post-title"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
      <div class="fade-text">
        <p>{{ post.content|safe|linebreaks|truncatewords_html:"100" }}</p>
      </div>
      <hr class="separator-line" style="border-top: 2px solid rgba(211, 211, 211, 0.5);">  <p class="read-more-container"><a href="{% url 'post-detail' post.id %}" class="read-more-link">Leer publicación completa</a></p>
    </article>

    <hr class="separator">

    {% endfor %}

    {% if is_paginated %}
    <div class="pagination"></div>
      {% if page_obj.has_previous %}
      <a href="?page=1" class="pagination-arrow">Primero</a>
      <a href="?page={{page_obj.previous_page_number}}" class="pagination-arrow">Anterior</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="active" href="?page={{num}}">{{num}}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a href="?page={{num}}">{{num}}</a>
      {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <a href="?page={{page_obj.next_page_number}}" class="pagination-arrow">Siguiente</a>
      <a href="?page={{page_obj.paginator.num_pages}}" class="pagination-arrow">Último</a>
      {% endif %}
    </div>
    {% endif %}

  </div>

  <!-- SIDEBAR -->
  <div class="sidebar">
    <!-- PEOPLE YOU CAN FOLLOW -->
    <div class=" small-card follow-card">
      <h4 class="follow-text">Puedes Seguir a</h4>
      <hr>
      <ul class="list-group">
        {% for user in random_users %}
        <a href="{% url 'profile-detail-view' user.pk %}" class="follow-link">
          <li class="list-group-item">
            <div>
              <img src="{{ user.profile.image.url }}" alt="image">
              {{ user.username }}
            </div>
            <span class="add-icon-follow">+</span>
          </li>
        </a>
        {% endfor %}
      </ul>
      <br>
    </div>
  </div>

  {% endblock %}
  {% block script %}
  <script>
    // No need
  </script>
  {% endblock %}
