  {% extends "blog/base.html" %}

  {% block title %}Home{% endblock %}

  {% block content %}

  {% load static %}

  <link rel="stylesheet" href="{% static 'blog/css/home.css' %}">

  <div class="main-content">

    {% for post in posts %}

    <article class="card">
      <div class="media">
        <div>
          <img src="{{post.author.profile.image.url}}" alt="image" width="100" height="100">
        </div>
        <div>
          <a href="{% url 'profile-detail-view' post.author.pk %}" class="username-link">{{ post.author }}</a>
          <br>
          <small class="text-muted">{{ post.date_posted|date:"F d, Y-h:i A" }}</small>
        </div>
        <span class="add-icon-blog"></span>
      </div>
      {% if post.author in added_users %}
      <div class="UserPlus"></div>
        <div class="Icon"></div>
      </div>
      {% else %}
      <div class="UserCheck">
        <div class="Icon"></div>
      </div>
      {% endif %}
      <hr>
      <h3 class="post-title"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
      <div class="fade-text">
        <p>{{ post.content|safe|linebreaks|truncatewords_html:"100" }}</p>
      </div>
      <hr class="separator-line" style="border-top: 2px solid rgba(211, 211, 211, 0.5);">  <p class="read-more-container"><a href="{% url 'post-detail' post.id %}" class="read-more-link">Leer publicación completa</a></p>
    </article>

    <hr class="separator">

    {% endfor %}

    {% if is_paginated %}
    <div class="pagination"></div>
      {% if page_obj.has_previous %}
      <a href="?page=1" class="pagination-arrow">Primero</a>
      <a href="?page={{page_obj.previous_page_number}}" class="pagination-arrow">Anterior</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="active" href="?page={{num}}">{{num}}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a href="?page={{num}}">{{num}}</a>
      {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <a href="?page={{page_obj.next_page_number}}" class="pagination-arrow">Siguiente</a>
      <a href="?page={{page_obj.paginator.num_pages}}" class="pagination-arrow">Último</a>
      {% endif %}
    </div>
    {% endif %}

  </div>

  <!-- SIDEBAR -->
  <div class="sidebar">
    <!-- PEOPLE YOU CAN FOLLOW -->
    <div class=" small-card follow-card">
      <h4 class="follow-text">Puedes Seguir a</h4>
      <hr>
      <ul class="list-group">
        {% for user in random_users %}
        <a href="{% url 'profile-detail-view' user.pk %}" class="follow-link">
          <li class="list-group-item">
            <div>
              <img src="{{ user.profile.image.url }}" alt="image">
              {{ user.username }}
            </div>
            <span class="add-icon-follow">+</span>
          </li>
        </a>
        {% endfor %}
      </ul>
      <br>
    </div>
  </div>

  {% endblock %}
  {% block script %}
  <script>
    // No need
  </script>
  {% endblock %}
