{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/login.css' %}">

</head>
<body>
    <div class="container">
        <div class="header">Inicio de sesión</div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Nombre de usuario</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                {{ form.password }}
            </div>
            <div class="form-group">
                <button class="btn" type="submit">INICIAR SESIÓN</button>
            </div>
        </form>
        <div class="register-link">
            <small class="text-muted">
                ¿No tienes una cuenta? <a href="{% url 'register' %}">Regístrate</a>
            </small>
        </div>
    </div>
</body>
</html>
